@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  --text-color: #ffffff;
  --card-front-color: #AF3438;
  --card-back-color: #772D2D;
}

body {
  background: url(img/bg-desktop-red.webp);
  font-family: Niramit;
}
