@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  --text-color: #ffffff;
  --card-front-color: #AF3438;
  --card-back-color: #772D2D;
}

body {
  background: url(img/bg-desktop-red.webp);
  font-family: Niramit;
}
.cartao_conteudo {
  bakground-color: var(--card-front-color);
  text-align: center;
  hight: 100%;
  transorm-tyle: preseve-3d;
  transition: tranform 300m ease-in-out;
}
#container {
  display: flex;
  flex-wrap: wrap;
}
.cartao {
  margin: 1rem 1rem;
  height: 20rem;
  flex-grow: c1;
flex-baasi: cal(33% - 6rem);
}
.carta_contudo p {
  padding:4rem;
}
